.search__header{
    padding-top: 20px !important;
    /* margin-bottom: 0 !important; */
}

.search__grid{
    padding-top: 0 !important;
}

.search__flex{
    display: flex;
}

.search__input{
    padding: .179em 0;
}

.ui.input>input{
    padding: 0.5em 1em !important;
}
