.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: left;
}
.containerList{
  display: flex !important;
  margin-top:70px !important;
  width: 70% !important;
}
.ui.grid>.column:only-child{
  padding: 0px 0px 10px 5px !important;
}
.AddImageAndList{
  display: flex;
  margin: 0 auto;
}
.paginationStyle{
  display: flex !important;
  margin: 0 auto !important;
}
/* .div.ui.pagination.menu{
  display: flex !important;
  margin: 0 auto !important;
} */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .AddImageAndList{
    display: grid;
  }
}